<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Photo Family Tree</title>
    <link rel="stylesheet" href="../../static/tree/CSS/chart.css" />

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  </head>

  <body>

    <script>
      $(window).scroll(function(){
        $('#header').css({
          'left': $(this).scrollLeft() + 10 
        });
        $('#footer').css({
          'left': $(this).scrollLeft() + 10 
        });
      });
    </script>

    <div id="header" class="page-header">
      <!--
      <div style='align-items: left; border: 3px green solid'>
        <button onclick="startEmpty()">Empty Tree</button>
      </div>
    -->
      <div><a href="https://rll.byu.edu/" class="header-link"><h2>Record Linking Lab</h2></a></div>

      <div>
        <h2 style="color: white">Photo Family Tree</h2>
      </div>
    </div>

    <figure id="treeChart" class="css-chart" style="--widget-size: 1000px">
      <ul id="chart" class="line-chart"></ul>
      <svg id='lines' height="1200" width="1200" style="z-index:-1; overflow:hidden"></svg>
      <div id="hover-menu"></div>
    </figure>

    <div id="center-menu"></div>

    <div id="footer" class="footer-box">
      <div id="nodeContainer" class="node-container"></div>
      <div id="confirmBox" class="confirm-box"></div>
    </div>

    <script src="../../static/tree/JS/multiTree.js"></script>
  </body>
</html>

<!--https://css-tricks.com/how-to-make-a-line-chart-with-css/ -->
