<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photo Family Tree</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/tree/CSS/chart.css"/>
    <!--DragScroll-->
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <!--Person Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 10px;
        height: 12px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        visibility: hidden;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(175, 175, 175); 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(129, 129, 129); 
      }
    </style>
    

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  </head>

  <body>

    <div id="header" class="page-header">
      <!--
      <div style='align-items: left; border: 3px green solid'>
        <button onclick="startEmpty()">Empty Tree</button>
      </div>
    -->
      <div style="margin-right: 5px;">
        <a href="https://rll.byu.edu/" class="header-link" style="text-decoration: none;">
          <h2>Record Linking Lab</h2>
        </a>
      </div>

      <div style="margin-left: 5px;">
        <h2 style="color: white">Photo Family Tree</h2>
      </div>
    </div>

    <div id="page-container" style="display: flex; position: relative; left:0;">

      <div id="tree-chart-container" style="display:flex; width: 80%; height: 100%">
        <figure id="treeChart" class="css-chart dragscroll" style="--widget-size: 1000px; zoom: 1;">
          <ul id="chart" class="line-chart"></ul>
          <svg id='lines' height="1000" width="1000" style="z-index:-1; overflow:hidden;"></svg>
          <div id="hover-menu"></div>
        </figure>
      </div>

      <div id="tutorial-button-container" style="display: flex; flex-direction: column; align-items: left; width: 20%; position: absolute; top: 0;">
        <button class="zoom-btn" onclick="tutorial()" style="left: 0;">Tutorial</button>
      </div>
      
      <div id="side-container" class="side-container">
        <div id="menu-position" style="width: 100%; height: 40%"></div>    
      </div>

      <div id="navButton" style="position: fixed;">
        <button class="openNav-button" onclick="openNavBottom()"><i class="fa">&#xf007;</i></button>
      </div>
    
      
    </div>
  
    <div id="tutorial"></div>

    <div>

      <div id="myBottomnav" class="bottomnav">
        <div><button class="x-button" onclick='closeNavBottom()'><strong>X</strong></button></div>
        <div id="footer" class="footer-box">
        <div id="nodeContainer" class="node-container"></div>
      </div>
    </div>

    <script src="../../static/tree/JS/multiTree.js"></script>
  </body>
</html>

<!--https://css-tricks.com/how-to-make-a-line-chart-with-css/ -->
