<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Photo Family Tree</title>
    <link rel="stylesheet" href="../../static/tree/CSS/chart.css" />

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  </head>

  <body>

    <div id="header" class="page-header">
      <!--
      <div style='align-items: left; border: 3px green solid'>
        <button onclick="startEmpty()">Empty Tree</button>
      </div>
    -->
      <div><a href="https://rll.byu.edu/" class="header-link"><h2>Record Linking Lab</h2></a></div>

      <div>
        <h2 style="color: white">Photo Family Tree</h2>
      </div>
    </div>

    <div style="display: flex;">

      <div style="display:flex; width: 80%; height: 80%">
        <figure id="treeChart" class="css-chart" style="--widget-size: 1000px; zoom: 1;">
          <ul id="chart" class="line-chart"></ul>
          <svg id='lines' height="1000" width="1000" style="z-index:-1; overflow:hidden"></svg>
          <div id="hover-menu"></div>
        </figure>
      </div>

      <div style="display: flex; flex-direction: column; align-items: center; width: 20%">
        <div style="display: flex; align-items: center; width: 100%">
          <div>
            <button class="zoom-btn" onclick="zoomIn()">+</button>
            <button class="zoom-btn" onclick="zoomOut()">-</button>
            <button class="zoom-btn" onclick="resetZoom()">&#x21bb</button>
          </div>

          <div id="confirmBox" class="confirm-box" style="width: 100%;">
            <p>Clicked nodes come here</p>
          </div>
        </div>

        <div id="menu-position" style="width: 100%;"></div>
      </div>

    </div>

    <!--<div id="center-menu"></div>-->

    <div id="footer" class="footer-box">
      <div id="nodeContainer" class="node-container"></div>
    </div>

    <script src="../../static/tree/JS/multiTree.js"></script>
  </body>
</html>

<!--https://css-tricks.com/how-to-make-a-line-chart-with-css/ -->
