h1 {
    color: purple;
}

.photo {
    margin: 20px;
    border: 5px solid black;
}

.line {
    position:absolute;
    z-index: -1;
}

.tree-level {
    display: flex;
    justify-content: center;

}

.tree-node {
    display: flex;
    justify-content: center;
    border: 3px solid red;
    width: 50px;

    margin: 30px;
}