<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Chart</title>
    <link rel='stylesheet' href='../../static/tree/CSS/chart.css'/>
    
  </head>


  <body>
    <figure class="css-chart" style="--widget-size: 900px;">
      <ul id='chart' class="line-chart">

      </ul>
    </figure>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='../../static/tree/JS/chart.js'></script>
  </body>


</html>


<!--https://css-tricks.com/how-to-make-a-line-chart-with-css/ -->
<!--LEFT OFF RIGHT AFTER CALCULATING HPYOTENUS-->

<!--Formula for caluclating position => (data-value / largest data-value) * size of graph  -->
<!--Formula for spacing => Width of Chart / numValues -->

<!--connecting to data points-->
<!--sin(x) = Opposite / Hypotenuse-->