<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Chart</title>
    <link rel='stylesheet' href='../../static/tree/CSS/chart.css'/>
  </head>


  <body>
    <figure class="css-chart" style="--widget-size: 900px;">
      <ul id='chart' class="line-chart">
          
      </ul>
    </figure>

    <div id='center-menu'>
    </div>
    <div class='footer-box'>

      <div id='nodeContainer' class='node-container'>
      </div>

      <div id='confirmBox' class='confirm-box'>
      </div>
    </div>
<!-- Changed Design, button no longer needed
    <div>
      <button id='changeButton' class='button-34' onclick='openMenu()'>Change Relationship</button>
    </div>
  -->
    <script src='../../static/tree/JS/chart.js'></script>
  </body>


</html>


<!--https://css-tricks.com/how-to-make-a-line-chart-with-css/ -->
