<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Chart</title>
    <link rel='stylesheet' href='../../static/tree/CSS/chart.css'/>
  </head>


  <body>
    <figure class="css-chart" style="--widget-size: 900px;">
      <ul id='chart' class="line-chart">
          
      </ul>
    </figure>

    <div class='footer-box'>

      <div id='nodeContainer' class='node-container'>
      </div>

      <div id='confirmBox' class='confirm-box'>

      </div>

      <button id='removeButton' class='remove-relationship-buttton' onclick='changeRemoveButtonParameters()'>Remove Relationship</button>
      <button id='addButton' class='add-relationship-buttton' onclick=changeAddButtonParameters()>Add Relationship</button>

    </div>

    <script src='../../static/tree/JS/delete.js'></script>
  </body>


</html>


<!--https://css-tricks.com/how-to-make-a-line-chart-with-css/ -->
