<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chart</title>
    <link rel="stylesheet" href="../../static/tree/CSS/chart.css" />

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  </head>

  <body>

    <figure class="css-chart" style="--widget-size: 1200px">
      <ul id="chart" class="line-chart"></ul>
      <div id="hover-menu"></div>
    </figure>

    <div id="center-menu"></div>

    <div class="footer-box">
      <div id="nodeContainer" class="node-container"></div>

      <div id="confirmBox" class="confirm-box"></div>
    </div>

    <script src="../../static/tree/JS/localdata.js"></script>
  </body>
</html>

<!--https://css-tricks.com/how-to-make-a-line-chart-with-css/ -->
