<!DOCTYPE html>

<html lang='en'>

<head>
    <title>Tree Structure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='../../static/tree/CSS/photos.css'/>
    <link rel='stylesheet' href='../../static/tree/CSS/tree.css'/>

</head>



<body>

    <div style='display: flex; border: 5px solid purple;'>
        <div style='display: flex; border: 5px solid green;'>
            <div id='nodes' class='nodeBox'>
            </div>
        </div>


        <div class='tree' >
            <ul id='testNodes'>
            </ul>
        </div>
    </div>





    <script src='../../static/tree/JS/parse.js'></script>

    <!--For using Bootstrap-->
</body>

</html>