<!DOCTYPE html>

<html lang='en'>

    <head>
        <meta charset="utf-8">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    </head>



    <body>

        <h1>Testing</h1>
<!--
        {% if node_list %}
            {% for node in node_list %}
                <div><h3>Image: {{node.image}} Mother: {{node.mother}} Spouse: {{node.spouse}} Birthyear {{node.birthyear}}</h3></div>
            {% endfor %}
        {% endif %}
-->
        <script>
            let data;
            $.ajax(
                {
                    type: "GET",
                    //url: "/getNodes",
                    url: "{% url 'getNodes' %}",
                    success: function (response) {
                        data = response;
                        console.log(data);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                }
            )
        </script>


    </body>

</html>