<!DOCTYPE html>

<html lang='en'>

<head>
    <meta http-equiv="Content-Type" content='text/html; charset=utf-8'/>
    <meta name='viewport' content='width-device-width, initial-scale-1, minimum-scale-1, maximum-scale-1, user-scalable=no'/>
    <title>Tree Structure</title>
    <link rel='stylesheet' href='../../static/tree/tree.css'/>
</head>




<body>

    <div class='tree'>

    <ul>

        <ul class='marriage'> <!--What if you label this UL as marriage and alter there-->
            <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Husband</span></a></li>
            <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Wife</span></a></li>
        </ul>
        
    </ul>

    </div>
</body>















































<!--
<body>

    <h1>Test</h1>
    <a href='http://localhost:8000/'>Home</a>


    <div class='tree' id='tree'>

        <ul>
            
            <ul>
                <li class='husband'><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Husband</span></a>
                <li id='firstNode'><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Mother</span></li></a>
            </ul>

            <ul>
                <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Child (Mother) </span></a>

                    <ul>
                        <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Grand Child</span></a></li>
                        <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Grand Child</span></a></li>
                    </ul>

                </li>

                <li class='husband'><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Husband</span></a>

                <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Child (Mother)</span></a>

                    <ul>
                        <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Grand Child</span></a></li>
                        <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Grand Child</span></a></li>
                        <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Grand Child</span></a></li>
                    </ul>

                </li>

                <li><a href='#'><img src='../../static/tree/images/duck1.jpg'/><br/><span>Child (Mother)</span></a></li>
            </ul>

        </ul>

    </div>


</body>
-->

</html>