*, body {
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

/* The parent element */
.css-chart {
  /* The height, which is initially defined in the HTML */
  /*height: var(--widget-size);*/
  height: 100%;

  /* A little breathing room should there be others items around the chart */
  /* Remove any padding so we have as much space to work with inside the element */
  padding: 0;
  position: relative;

  margin: 0;

  /* The chart width, as defined in the HTML */
  /*width: var(--widget-size);*/
  width: 100%;

  border: 4px solid black;
  
  overflow: scroll;

  zoom: 1;
}

.tree-container {
  height: auto;
  width: auto;
  position: relative;

  border: 4px solid black;
  overflow: scroll;
  margin: 0;
}

/* The unordered list holding the data points, no list styling and no spacing */
.line-chart {
  list-style: none;
  margin-top: 50px;
  padding: 0;
}

/* Each point on the chart, each a circle with a light border */
.data-point {
  background-color: white;
  border: 5px solid #7ab7e6; /*was light blue*/
  border-radius: 50%;
  position: absolute;
  height: 3rem;
  width: 3rem;

  /* The data points have a radius of 8px and the line segment has a width of 3px, 
    so we split the difference to center the data points on the line segment origins */
  /*
  bottom: calc(var(--y) - 27.5px);
  left: calc(var(--x) - 30.5px);
  */
  bottom: calc(var(--y) - 24px);
  left: calc(var(--x) - 23px);
}

.expand-tree {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;

  display:flex;
  justify-content: center;
  align-items: center;

  bottom: calc(var(--y) - 40px);
  left: calc(var(--x) - 12px);
}

.data-point:hover {
  transition-duration: 0.25s;
  transform: scale(1.2);
}

.hover-point {
  background-color: white;
  border: 2px solid lightblue;
  position: absolute;

  bottom: calc(var(--y) - 21.5px);
  left: calc(var(--x) - 24.5px);
}

.data-button {
  color: blue;
}

.data-button:active {
  color: black;
  background-color: black;
}
.data-button:visted {
  color: yellow;
  background-color: yellow;
}

.node-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.node-image {
  height: 6rem;
  width: 6rem;
  margin: 4px;

  border-radius: 50px;
}

.nodeBox-button {
  background-color: white;
  border: 4px solid #7ab7e6; /*was light blue*/
  border-radius: 65px;
  margin: 7px;
}

.nodeBox-button:hover {
  transition-duration: 0.25s;
  transform: scale(1.05);
}

.tree-image {
  width: 50px;
}

.footer-node {
  display: flex;
  border: 2px solid black;

  border-radius: 50px;
}

.confirm-box {
  display: flex;
  height: 8rem;
  width: 20%;

  justify-content: space-around;
  align-items: center;

  border: 2px solid black;
  margin: .5em;
}

/*testing hover*/
.hide {
  display: none;
}

.info-box:hover + .hide {
  display: block;
  color: red;
}

/* CSS */
.button-34 {
  display: flex;
  margin: 5px;

  /*background: #5E5DF0;*/
  background: aliceblue;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button-34:hover {
  transition-duration: 0.2s;
  background-color: rgb(214, 213, 213);
}

body {
  background-color: #eef7fe;
}

.center-menu {
  padding: 10px;
  width: 100%;
  border-radius: 7px;

  /*background: #9dbef1;*/
  background: #FAE5A1;
  border: 4px solid black;
  
}

.menu-pics-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.menu-pic {
  display: flex;
  border-radius: 20px;

  width: 100px;
  height: 100px;
}

.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.hover-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: white;
  
  border-radius: 10px;

  border: 2px solid rgb(65, 65, 65);

  box-shadow: #002e5d 0 10px 20px -10px;
}

.page-header {
  width: 100%;
  /*height: 100px;*/
  height: 4rem;
  background-color: #002e5d; /*rgb(61, 177, 173)*/
  font-family: Arial;
  padding: 3px;
  font-size: 24px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  /*ADDED*/
  display: flex;

  position: relative;
  top:0;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  position: relative;

  background-color: #002e5d;
}

.header-link {
  color: white;
  text-decoration: none;
}
.header-link:hover {
  color: lightgray;
}

.x-button {
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 2.5px solid black;
}
.x-button:hover {
  background-color: darkgray;
}

.zoom-btn {
  display: flex;
  margin: 5px;

  /*background: #5E5DF0;*/
  background: rgb(230, 222, 222);
  border-radius: 999px;
  box-shadow: #002e5d 0 10px 20px -10px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 2px solid black;
}
.zoom-btn:hover {
  transition-duration: 0.2s;
  background-color: rgb(185, 176, 176);
}

.tree-animation {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  animation-name: treeMove;
  animation-duration: 4s;
}
@keyframes treeMove {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}