*, body {
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

/* The parent element */
.css-chart {
  /* The height, which is initially defined in the HTML */
  height: var(--widget-size);
  /* A little breathing room should there be others items around the chart */
  margin: 1em;
  /* Remove any padding so we have as much space to work with inside the element */
  padding: 0;
  position: relative;
  /* The chart width, as defined in the HTML */
  width: var(--widget-size);
}

/* The unordered list holding the data points, no list styling and no spacing */
.line-chart {
  list-style: none;
  margin-top: 50px;
  padding: 0;
}

/* Each point on the chart, each a circle with a light border */
.data-point {
  background-color: white;
  border: 5px solid #7ab7e6; /*was light blue*/
  border-radius: 50%;
  height: 60px; /*height and width originally 12px*/
  position: absolute;
  width: 60px;

  /* The data points have a radius of 8px and the line segment has a width of 3px, 
    so we split the difference to center the data points on the line segment origins */
  bottom: calc(var(--y) - 27.5px);
  left: calc(var(--x) - 30.5px);

  /*originals 6.5 px and 9.5 px*/
}

.data-point:hover {
  transition-duration: 0.25s;
  transform: scale(1.2);
}


.svg-line {
  color: blue;
}

.svg-line:hover {
  color: red;
}

.hover-point {
  background-color: white;
  border: 2px solid lightblue;
  position: absolute;

  bottom: calc(var(--y) - 21.5px);
  left: calc(var(--x) - 24.5px);
}

.data-button {
  color: blue;
}

.data-button:active {
  color: black;
  background-color: black;
}
.data-button:visted {
  color: yellow;
  background-color: yellow;
}

/* Testing to make lines buttons */
.button-line {
  background-color: blue;
  bottom: var(--y);
  height: 3px;
  left: var(--x);
  position: absolute;
  width: 5px;

  transform: rotate(calc(var(--angle) * 1deg));
  transform-origin: left bottom;
  width: calc(var(--hypotenuse) * 1px);
  z-index: -1;
}
.button-line:hover {
  color: red;
  background-color: red;
}

.child-line {
  background-color: #3b5070; /*was black*/
  bottom: var(--y);
  height: 5px;
  left: var(--x);
  position: absolute;

  transform: rotate(calc(var(--angle) * 1deg));
  transform-origin: left bottom;
  width: calc(var(--hypotenuse) * 1px);
  z-index: -1;
}

.spouse-line {
  background-color: #ffc868;
  bottom: var(--y);
  height: 5px;
  left: var(--x);
  position: absolute;

  transform: rotate(calc(var(--angle) * 1deg));
  transform-origin: left bottom;
  width: calc(var(--hypotenuse) * 1px);
  z-index: -1;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: flex;

  background-color: #002e5d;
}

.node-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.node-image {
  width: 90px;
  height: 90px;
  margin: 10px;

  border-radius: 50px;
}

.nodeBox-button {
  background-color: white;
  border: 5px solid #7ab7e6; /*was light blue*/
  border-radius: 65px;
  margin: 7px;
}

.nodeBox-button:hover {
  transition-duration: 0.25s;
  transform: scale(1.05);
}

.tree-image {
  width: 50px;
}

.footer-node {
  display: flex;
  border: 2px solid black;

  border-radius: 50px;
}

.confirm-box {
  display: flex;
  /*border: 2px solid black;*/
  height: 130px;
  width: 220px;
}

/*testing hover*/
.hide {
  display: none;
}

.info-box:hover + .hide {
  display: block;
  color: red;
}

/* CSS */
.button-34 {
  display: flex;
  margin: 5px;

  /*background: #5E5DF0;*/
  background: aliceblue;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button-34:hover {
  transition-duration: 0.2s;
  background-color: rgb(214, 213, 213);
}

body {
  background-color: #eef7fe; /*was #fffaf0;*/
  /*background-color: #413fb4;*/
}

.center-menu {
  padding: 10px;
  border: 5px solid black;
  border-radius: 15px;

  position: fixed;
  width: 400px;
  height: 360px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  /*background: #4056A1;*/
  background: #9dbef1; /*#50bb89;*/
}

.menu-pics-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.menu-pic {
  display: flex;
  border-radius: 20px;

  width: 100px;
  height: 100px;
}

.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.hover-menu {
  padding: 10px;
  display: inline-block;
  position: absolute;
  background: white;

  border-radius: 10px;

  border: 1px solid rgb(65, 65, 65);

  box-shadow: #5e5df0 0 10px 20px -10px;
}

.page-header {
  width: 100%;
  height: 100px;
  background-color: #002e5d; /*rgb(61, 177, 173)*/
  font-family: Arial;
  padding: 3px;
  font-size: 24px;
  text-align: center;
  /*ADDED*/
  display: flex;
}

.Header {
  width: 100%;
  display: block;
  z-index:20;
  top: 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 16%);
  border-bottom: 1px solid #ddd;
  position: sticky
}

.Header-contentTop {
  background: #002e5d;
  padding: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 72px auto;
  box-sizing: border-box;
}

.Header-Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  box-sizing: border-box;
}

.Header-logo img {
  min-height: 20px;
  max-width: 50px;
  height: auto;
}

.Header-titles {
  position: relative;
  padding: 9px 36px 9px 13px;
  box-sizing: border-box;
  display: block;
}

.Header-title {
  font-size: 18px;
  line-height: 1.4;
  margin: 6px 0;
  bottom: 1px;
  box-sizing: border-boxs;
}
.Header-title:before {
  content: " ";
  display: block;
  position: absolute;
  background: green;
  width: 1px;
  height: 74%;
  right: auto;
  left: 0;
  top: 13%;
}

.PageLogo-image {
  width: 100%;
}

img {
  vertical-align: middle;
}

a {
  background-color: transparent;
}